downloads
.remake
ms.pdf
output

tree_physiology.md
tree_physiology.pdf
tree_demography.pdf

figures
.ms_deps
*.tdo

vignettes/*.md
vignettes/*.Rmd
vignettes/*.html
vignettes/*.tex
vignettes/*.pdf
vignettes/figure*
vignettes/cache/*
